{{#partial "styles"}}
    <link rel='stylesheet' href='/css/app.css'>
{{/partial}}
{{#partial "content"}}
    <div class="success">
        <h1>Great!</h1>
        <p>Your Hero has been saved succesfully.</p>
        <p><a href="/heros/list"> View Heroes</a></p>

    </div>

{{/partial}}
{{>layout.hbs}}